@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url(/assets/css/root.css);

* {
  text-decoration: none !important;
  list-style-type: none !important;
}
/* ======== font = size ============= */
.fs-16 {
  font-size: var(--fs-16);
}
.fs-64 {
  font-size: var(--fs-64);
}
.fs-12 {
  font-size: var(--fs-12);
}
.fs-20 {
  font-size: var(--fs-20);
}
.fs-56 {
  font-size: var(--fs-56);
}
.fs-24 {
  font-size: var(--fs-24);
}
.fs-18 {
  font-size: var(--fs-18);
}

.fw-400 {
  font-weight: var(--fw-400);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-600 {
  font-weight: var(--fw-600);
}

.font-black {
  color: var(--black);
}
.font-white {
  color: var(--white);
}
.font-light-black {
  color: var(--light-black);
}
.light-red {
  color: var(--light-red);
}
.dark-blue {
  color: var(--dark-blue);
}
.bg-color {
  background-color: #ffebeb;

}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* --------section -2----------------- */
.svg-color {
  background: #b400011a;
  width: 62px;
  height: 62px;
  border-radius: 10px;
  padding: 15px;
}
.get-button {
  width: 173px;
  height: 63px;
  padding: 20px 32px;
  border-radius: 56px;
  background-color: var(--light-red);
  border: none;
}
.get-button:hover {
  background-color: white;
  color: red;
  transition: all 300ms linear;
}
.table-image {
  max-width: 469px !important;
  height: 523px !important;
  width: 100%;
}
.red-box {
  width: 300px;
  height: 396px;
  top: 200px;
  left: -12%;
  gap: 0px;
  border-radius: 24px;
  opacity: 0px;
  background-color: #ff0000;
}
/* ----------section -4------------ */
.red-box-2 {
  width: 300px;
  height: 396px;
  top: 227px;
  left: -8%;
  gap: 0px;
  border-radius: 24px;
  opacity: 0px;
  background-color: red;
}
.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.table-2-img {
  max-width: 435px !important;
  height: 581px !important;
  width: 100%;
}
.box-shadow {
  box-shadow: 0px 1px 28px 1px #4747471a;
  background: #ffffff;
  width: 592px;
  height: 128px;
  padding: 16px;
  border-radius: 24px;
  opacity: 0px;
  width: 100%;
}
.sec-4-button {
  width: 173px;
  height: 63px;
  padding: 20px 32px;
  gap: 10px;
  border-radius: 56px;
  opacity: 0px;
  background: #ff0000;
  border: none;
  color: #ffffff;
}
.sec-4-button:hover {
  background-color: white;
  border: 1px solid #ff0000;
  color: red;
  transition: all 300ms linear;
}
.sec-4-button2 {
  height: 63px;
  padding: 20px 32px;
  gap: 10px;
  border-radius: 56px;
  opacity: 0px;
  border: 1px solid #ff0000;
  color: #ff0000;
}
.sec-4-button2:hover {
  background-color: red;
  color: white;
  transition: all 300ms linear;
}
/* =========slick = slider=========== */

/* ==========media==quary==================*/
@media (max-width: 992px) {
  .p-100 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 576px) {
  .red-box {
    top: 160px;
    left: -19%;
  }
}
