:root{
    /* -------font-size------ */
    --fs-16:16px;
    --fs-64:64px;
    --fs-12:12px;
    --fs-20:20px;
    --fs-56:56px;
    --fs-24:24px;
    --fs-18:18px;
/* -----font-weight------- */
    --fw-400:400;
    --fw-700:700;
    --fw-600:600;
/* --------color */
    --black:#000000;
    --white:#ffffff;
    --light-black:#141414;
    --light-red:#ff0000;
    --dark-blue:#1b2228;

}